main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


/* project gallery */
#projects {
    --item-width: calc(25% - 2rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;

    width: 100%;

    padding-right: 5vw;
    padding-left: calc(5vw + 2rem);
}


#projects a.project {
    background-color: var(--white-100);

    font-size: 1.2rem;
    border-radius: 1em;
    overflow: hidden;

    flex-basis: var(--item-width);

    vertical-align: middle;
}

@media screen and (max-width: 1400px) { 
    #projects {
        --item-width: calc(33.33% - 2rem);
    }
}

@media screen and (max-width: 950px) {
    #projects {
        --item-width: calc(50% - 2rem);
    }
}

#projects a.project img {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;

    transition-duration: 0.3s;

    position: relative;
}

#projects a.project img::before {
    content: '';
    position: absolute;

    inset: 0;

    background-color: var(--white-200);
    background-image: url("../img/background.png");
    background-size: 300%;
}

#projects a.project h2 {
    padding: 0.5em 1em;
}

#projects a.project:hover {
    scale: 1.05;
}

/* #projects:has(a.project:hover) a.project:not(:hover) { /* MAPYBE? * /
    filter: blur(3px);
    transition-duration: 3s;
} */

#projects a.project h2 > span {
    display: none;
    font-size: 1.1em;
    margin-right: 1em;
    vertical-align: bottom;
}
/* ~ */

/* mobile */
@media screen and (max-width: 750px) {
    #projects {
        --item-width: 100%;
        padding-inline: 5vw;
    }

    #projects a.project {
        height: 4em;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #projects a.project h2 > span {
        display: inline;
    }

    #projects a.project img {
        display: none;
    }

    #projects:has(a.project:hover) a.project:not(:hover) {
        filter: none;
    }
}
/* ~ */
